@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.wrap {
    text-align: center;
}

.time {
    position: fixed; /* 화면에 고정 */
    top: 10px; /* 상단에서 10px */
    left: 10px; /* 왼쪽에서 10px */
    color: green;
    font-size: 100px;
}

.button {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    font-size: 100px;
    background-color: rgb(219, 219, 219);
    display: inline-block;
    border: none;
}

.clicked {
    background-color: #c40000;
}

.hide {
    display: none;
}
